---
import Layout from '~/layouts/Default.astro';
import { formatDate } from '~/utilities/date';
import { CONTENT_SERVICE } from '~/services/content';
import IconRSS from "~/components/IconRSS.astro";

export const prerender = true;

const notes = await CONTENT_SERVICE.getNotes();
---

<Layout
	title='Notes'
	description='A collection of my notes.'
>
	<section class="flex flex-col gap-4">
		<a href={new URL("/notes/rss.xml", Astro.site)} title="RSS Feed" class="flex items-center gap-2 bg-black text-white py-1 px-2" rel="alternate">
			<span>Get the RSS Feed</span>
			<IconRSS className='h-3 lg:h-4 w-auto' />
		</a>

		<ul class="flex flex-col gap-4">
			{
				notes.map((note) => (
					<li class="border-l-4 border-l-black/50 transition-colors hover:border-l-black focus-within:border-l-black pl-2">
						<a href={`/notes/${note.slug}/`} class="flex flex-col">
							<p class="font-light text-base">{formatDate(note.date)}</p>
							<h4 class="font-semibold">{note.title}</h4>
							<p class="text-balance line-clamp-2">{note.description}</p>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</Layout>
