---
import { AstroSeo } from '@astrolib/seo';
import { getCollection } from 'astro:content';
import Layout from '~/layouts/Default.astro';

const projects = (await getCollection('projects')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout>
	<AstroSeo
	title='Projects'
	description="A collection of projects I have sailed to do."
	slot='seo'
/>

	<section>
		<ul class="">
			{projects.map(project => (
				<li>{project.slug}</li>
			))}
		</ul>
	</section>
</Layout>