---
// import { getCollection } from 'astro:content';
import Layout from '~/layouts/Default.astro';

// const projects = (await getCollection('projects')).sort(
// 	(a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
// );
---

<Layout 	title='Projects'
description="A collection of projects I have sailed to do.">
	<section>
		<!-- <ul class="">
			{projects.map(project => (
				<li>{project.slug}</li>
			))}
		</ul> -->
	</section>
</Layout>