---
import Layout from '~/layouts/Default.astro';
---

<Layout title="Efforts" description='The Work I care about' >
    <article data-hide-headings="true">
    <h1 hidden aria-hidden="true">Efforts</h1>	

    <h3>Movement Practice Newsletter</h3>

    <p><a href="https://floweasemovement.substack.com/" target="_blank">Flow Ease Movement</a> is a publication I have been working on since the beginning of this year. It has been a sweet and painful process to find ways beyond the physicality of the training to provide consistent and conscious (short) essays - but I love the process.</p>

    <p>In the <a href="">"about" section</a> I try to describe this publication as the following:</p>

    <blockquote>
        <p>This space is for those who seek more than just a workout – who believe that movement can be a tool for self-discovery, healing, and unlocking a deeper connection to both body and mind.</p>
    </blockquote>

    <h3>Be Open with People</h3>

    <p>Since my teenage days, I have felt anxious and insecure when around other people. Since this is not how I want to be, I've got to do something about it.</p>

    <p>This effort comes in waves; sometimes it is easier, other times I'm too much in my head.</p>

    <h3>(Software) Craftsmanship</h3>

    <p>I place my views on building things from a craftsman's perspective: that anything can be done better over iterations.</p>

    <p>In software, it has been a constant to keep iterating in loops of feedback, but over the years I have noticed that certainly this perspective is not just limited to software.</p>

    <h3>Cultivate My Relationships</h3>

    <p>I love and care so much about the people around me, and day-to-day life can make it easy to lose contact and for others to forget you care for them. It's an effort to show love and deepen relationships.</p>
    </article>
</Layout>
