---
interface Props {
  href: string;
  label: string;
  header: string;
  content?: string;
}

const { href, label, header, content } = Astro.props;
---

<li
  class="border-l-4 border-l-black/50 transition-colors hover:border-l-black focus-within:border-l-black pl-2"
>
  <a href={href} class="flex flex-col">
    <p class="font-light text-base">{label}</p>
    <h4 class="font-semibold">{header}</h4>
    {content && <p class="text-balance line-clamp-3">{content}</p>}
  </a>
</li>
