---
const { pathname } = Astro.url;

const links: { href: string | URL; label: string; rel?: string }[] = [
	{ href: '/about', label: 'About (now)' },
	{ href: '/efforts', label: 'Efforts' },
	// { href: '/projects', label: 'Projects' },
	{ href: '/notes', label: 'Notes' },
	// { href: '/contact', label: 'Contact' },
]; 
---

<nav class="flex flex-col gap-1 lg:gap-2">
	{links.map(link => {
		const isActive = pathname === link.href || !!pathname.startsWith(typeof link.href === 'string' ? link.href : link.href.pathname);

		return (<a href={link.href} rel={link.rel} data-active={isActive ? "true" : "false"}>{link.label}</a>)
	})}
</nav>

<style>
	a {
		@apply underline transition-[background-color,_color,_padding];
	};

	a[data-active="true"] {
		@apply bg-black text-white px-0.5;

		text-decoration-line: unset;
	};
</style>