---
import { ViewTransitions } from "astro:transitions";
import "@fontsource/courier-prime";
import Navigation from "~/components/Navigation.astro";
import SEO from "~/components/SEO.astro";
import "~/styles/global.css";
import "~/styles/article.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-Content-Type-Options" content="nosniff" />
    <meta http-equiv="X-XSS-Protection" content="1; mode=block" />
    <meta http-equiv="X-Frame-Options" content="SAMEORIGIN" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self' data:;"
    />
    <meta http-equiv="Content-Language" content="en" />
    <ViewTransitions />
    <SEO title={title} description={description} />
  </head>

  <body>
    <div
      class="w-[64rem] max-w-full mx-auto lg:px-8 lg:py-4 grid grid-cols-1 max-lg:grid-rows-[auto_1fr] lg:grid-cols-[auto_1fr] gap-4 lg:gap-6 relative"
    >
      <header
        class="flex lg:flex-col gap-8 max-lg:pt-4 max-lg:px-4 max-lg:justify-between max-lg:pb-2 max-lg:border-b-2 max-lg:border-b-black/20 h-fit dark:max-lg:border-b-white/20 sticky top-0 lg:top-4 max-lg:bg-white max-lg:dark:bg-black"
      >
        <span class="block font-bold select-none">Reinny Almonte</span>

        <Navigation />
      </header>

      <main class="lg:pl-2 max-lg:pb-4 max-lg:px-4"><slot /></main>
    </div>
  </body>
</html>
