---
import { ViewTransitions } from 'astro:transitions';
import '@fontsource/courier-prime';
import Landmark from '~/components/Landmark.astro';
import Navigation from '~/components/Navigation.astro';
import SEO from '~/components/SEO.astro';
import '~/styles/global.css';
import '~/styles/article.css';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<ViewTransitions />
		<SEO title={title} description={description} />
  </head>

	<body>
	  <div class="container py-4 h-dvh grid grid-cols-1 max-lg:grid-rows-[1fr_auto] lg:grid-cols-[1fr_auto] gap-4 lg:gap-6">
			<main class="overflow-y-auto lg:pr-2"><slot /></main>

			<aside class="flex max-lg:flex-row-reverse lg:flex-col justify-between gap-2">
				<Navigation />
			  <Landmark text="Reinny Almonte Ramos" />
			</aside>
		</div>
	</body>
</html>
