---
import Layout from "./Default.astro";
import { formatDate } from "~/utilities/date";

const { frontmatter } = Astro.props;
const date = frontmatter.updatedAt ? formatDate(new Date(frontmatter.updatedAt)) : undefined;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <div class="flex flex-col gap-4">
    {
      date && (
        <p class="text-sm text-right self-end">
          <span>updated: </span>

          <time datetime={date} class="">
            {date}
          </time>
        </p>
      )
    }

    <article>
      <slot />
    </article>
  </div>
</Layout>
